---
layout: archive
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


<h2 style="font-size:2.2rem;margin-top:1.5rem">Course Portfolio</h2>

<h3 style="font-size:1.5rem;margin-top:0.4rem">
  <a href="{{ '/files/Portfolio_Embedded_Haobo_Fang.pdf' | relative_url }}">Embedded Systems Portfolio</a>
</h3>

{% assign course = site.portfolio
  | where_exp: "p", "p.tags contains 'projects'"
  | sort: "order" %}
{% for post in course %}
  {% include archive-single-portfolio.html %}
{% endfor %}

<h2 style="font-size:2.2rem;margin-top:1.5rem">Topic Portfolio</h2>
{% assign course_posts = site.portfolio | where_exp: "p", "p.tags contains 'courses'" %}

<h3 style="font-size:1.5rem;margin-top:1rem">Control System &amp; Signals</h3>
{% for post in course_posts %}
  {% if post.tags contains 'control' %}
    {% include archive-single-portfolio.html %}
  {% endif %}
{% endfor %}

<h3 style="font-size:1.5rem;margin-top:1rem">Embedded System</h3>
{% for post in course_posts %}
  {% if post.tags contains 'embedded' %}
    {% include archive-single-portfolio.html %}
  {% endif %}
{% endfor %}


